{# templete index.html
  require:
    user
#}

{% if not current_navi %}
{% set current_navi="index" %}
{% endif %}

{% include 'header.html' %}

<!-- index.html -->
    <section>
        <div class="jumbotron">
        <p>
            <img src="{{ user.info['avatar_large'] }}" alt="{{ user.info['screen_name'] }}"/>
        </p>
        <h2>您的微博统计</h2>
        <p>
            <a class="btn btn-lg btn-success btn_update_weibo" href="{{ url_for('update') }}">从这里开始</a>
        </p>
        </div>
    </section>
<!-- /index.html -->

{% include 'footer.html' %}