{# templete index.html
  require:
    user
#}

{% if not current_navi %}
{% set current_navi="index" %}
{% endif %}

{% include 'header.html' %}

<!-- index.html -->
    <section>
        <div class="jumbotron">
        <p>
            <img src="{{ user.info['avatar_large'] }}" alt="{{ user.info['screen_name'] }}"/>
        </p>
        <h2>您的微博统计</h2>
        <p>
            <a class="btn btn-lg btn-success btn_update_weibo" href="{{ url_for('update') }}">从这里开始</a>
        </p>
        <p>或者，您可以选择如下两个任务</p>
        <p>
            <a class="item_tooltip btn btn-default" href="{{ url_for('update') }}" data-toggle="tooltip"
               data-placement="bottom" title="抓取您的微博，用于分析">1.读取</a>
            <a class="item_tooltip btn btn-default" href="{{ url_for('statistic') }}" data-toggle="tooltip"
               data-placement="bottom" title="分析已抓取的微博">2.分析</a>
        </p>
        </div>
    </section>
<!-- /index.html -->

{% set local_js_file_list=[url_for('static',filename='js/index.js')] %}

{% include 'footer.html' %}