{# templete index.html
  require:
    user
#}

{% set current_navi="statistic" %}

{% include 'header.html' %}

<!-- statistic.html -->
    <div class="row">
        <div class="side_bar col-md-2">
            <ui class="nav nav-pills nav-stacked">
                <li class="active"><a href="#">概述</a></li>
                <li><a href="#">种类</a></li>
            </ui>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-7">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="start_date">开始日期</label>
                            <input type="date" class="form-control" id="start_date">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="end_date">结束日期</label>
                            <input type="date" class="form-control" id="end_date">
                        </div>
                        <button type="button" class="btn btn-default">确定</button>
                    </form>
                </div>
                <div class="col-md-3">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default">天</button>
                      <button type="button" class="btn btn-default">月</button>
                      <button type="button" class="btn btn-default">年</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- statistic.html -->

{% set local_js_file_list=[url_for('static',filename='js/statistic.js')] %}

{% include 'footer.html' %}