{# templete index.html
  require:
    user
#}

{% set current_navi="statistic" %}
{% set local_css_file_list = [ url_for('static',filename='css/style.css') ] %}
{% include 'header.html' %}

<!-- statistic.html -->
    <div class="row">
        <div class="side_bar col-md-2">
            <ui class="nav nav-pills nav-stacked">
                <li class="active"><a href="#">概述</a></li>
                <li><a href="#">种类</a></li>
            </ui>
        </div>
        <div class="col-md-10">
            <div class="row">
                <form class="form-inline" role="form" id="time_range_form">
                    <div class="col-md-6">
                        <div class="input-daterange input-group" id="datepicker">
                            <input type="text" class="input-sm form-control" name="start_date" id="start_date"/>
                            <span class="input-group-addon">到</span>
                            <input type="text" class="input-sm form-control" name="end_date" id="end_date"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="btn-group" data-toggle="buttons" id="time_interval_group">
                              <label class="btn btn-default active">
                                <input type="radio" name="time_interval" id="time_interval_day" value="day"> 天
                              </label>
                              <label class="btn btn-default">
                                <input type="radio" name="time_interval" id="time_interval_month" value="month"> 月
                              </label>
                              <label class="btn btn-default">
                                <input type="radio" name="time_interval" id="time_interval_year" value="year"> 年
                              </label>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default" id="time_range_submit_button">确定</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

<!-- statistic.html -->

{% set local_js_file_list=[url_for('static',filename='js/statistic.js'),
    url_for('static',filename='js/bootstrap-datepicker.js')] %}

{% include 'footer.html' %}