{# templete index.html
  require:
    user
#}

{% include 'header.html' %}

<!-- update.html -->
    <section class="content-top">
        <div class="module">
            <div class="row content" id="userlogo">
                <div class="pull-left userlogo_pic">
                    <img src="{{ user.info['profile_image_url'] }}" alt="{{ user.info['screen_name'] }}"/>
                </div>
                <div class="userlogo_detail">
                    <p>{{ user.info['screen_name'] }} {{ user.info['location'] }} <a href="{{ url_for("logout") }}">注销</a></p>
                    <p class="description">{{ user.info['description'] }}</p>
                </div>
            </div>
            <div class="row content clearleft" id="userinfo">
                <div class="table" id="userinfoTable">
                      <ul class="list-inline">
                        <li class="button" scope="col">关注：{{ user.info['friends_count'] }}</li>
                        <li class="button" scope="col"><a href="{# url_for('userfollowers') #}">粉丝：{{ user.info['followers_count'] }}</a></li>
                        <li class="button" scope="col"><a href="{# url_for('usertimeline') #}">微博：{{ user.info['statuses_count']  }}</a></li>
                        <li class="button" scope="col">收藏：{{ user.info['favourites_count'] }}</li>
                      </ul>
                </div>
            </div> <!-- END .content #userinfo-->
        </div> <!-- END module -->
    </section> <!-- END .content-top -->

    <section>
        <div class="row">
        {% if user.update_time %}
        	<button class="btn btn-primary btn_update_weibo" type="button">更新</button>
        {% else %}
            <button class="btn btn-primary btn_update_weibo" type="button">开始</button>
        {% endif %}
            <button class="btn btn-primary btn_analytics_weibo" type="button">统计</button>
            <button class="btn btn-primary btn_query_weibo" type="button">查询</button>
            <button class="btn btn-primary btn_manager_weibo" type="button">管理</button>
        </div>
    </section>
<!-- /update.html -->

{% set local_js_file_list=[url_for('static',filename='js/update.js')] %}

{% include 'footer.html' %}