{# templete index.html
  require:
    user
#}

{% include 'header.html' %}

<!-- update.html -->
    <section class="content-top">
        <div class="module">
            <div class="row">
                <div class="alert alert-warning alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <strong>注意!</strong> 由于
                    <a href="http://open.weibo.com/wiki/2/statuses/user_timeline" class="alert-link">新浪微博API接口</a>
                    的限制，目前只能获取最近发表的2000条微博。
                </div>
            </div>
            <div class="row text-center">
                    <img src="{{ user.info['avatar_large'] }}" alt="{{ user.info['screen_name'] }}"/>
                    <p>{{ user.info['screen_name'] }} {{ user.info['location'] }}</p>
                    <p class="description">{{ user.info['description'] }}</p>
            </div>
            <div class="row text-center">
                <p>已保存微博：共{{ page_info.total_count_in_database }}条</p>
                <p>从{{ page_info.oldest_date }}到{{ page_info.latest_date }}</p>
            </div>
        </div>
    </section>

    <section>
        <div class="row text-center">
        	<button class="btn btn-success btn_update_weibo" type="button">
                抓取微博
                <span class="badge">{% if page_info.total_count_for_update>0 and page_info.total_count_for_update<=100 %}
                {{ page_info.total_count_for_update }}
                {% elif page_info.total_count_for_update>100 %}
                100+
                {% elif page_info.total_count_for_update==0 %}
                {% endif %}
                </span>
            </button>
            <button class="btn btn-primary btn_query_weibo" type="button">查询</button>
        </div>
    </section>

    <section>
        <div class="modal fade" id="process_dialog" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true"
                data-backdrop="static">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="process_dialog_title">更新微博</h4>
              </div>
              <div class="modal-body">
                <div class="progress progress-striped active">
                  <div id="process_dialog_progress_bar" class="progress-bar" role="progressbar"
                       aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    0%
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <!-- button type="button" class="btn btn-default" data-dismiss="modal">关闭</button -->
                <button type="button" class="btn btn-success">确定</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </section>
<!-- /update.html -->

{% set local_js_file_list=[url_for('static',filename='js/update.js')] %}

{% include 'footer.html' %}