{# templete welcome.html
  require:
    front_image_list
    authorize_url
#}

{% include 'header.html' %}

<!-- welcome.html -->
    <section id="front-end">
      <div class="row">
        <h1 class='text-center'></h1>
      </div>
      <div class="row">
        <div class='col-md-4 pull-right'>
            <h3>使用新浪微博账号登录</h3>
            <a class="btn" href="{{ authorize_url }}"><img src="{{ url_for('static',filename='img/sina-weibo-48.png') }}" alt="用微博账号登录"/></a>
        </div>
        {% if front_image_list %}
        <!-- image slide from flickr -->
        <div class='col-md-8 text-center'>
          <div id="carousel-example-generic" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              {% for a_front_image in front_image_list %}
              <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index0 }}" {% if loop.index == 1 %} class="active" {% endif %}></li>
              {% endfor %}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              {% for a_front_image in front_image_list %}
              <div class="item {% if loop.index == 1 %}  active {% endif %} ">
                <img style="margin-bottom:10px;margin-left:auto;margin-right:auto" src="{{ a_front_image['source'] }}"  alt="{{ a_front_image['index'] }}}" />
                <div class="carousel-caption">
                  <h3>{{ a_front_image['title'] }}</h3>
                  <a href="{{ a_front_image['url'] }}">图片来自Flickr</a>
                </div>
              </div>
              {% endfor%}
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
              <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
              <span class="icon-next"></span>
            </a>
          </div>
        </div>
        {% endif %}
      </div>
    </section>
<!-- /welcome.html -->

{% include 'footer.html' %}