{# templete statistic/header.html
  require:
    module_current_navi
#}


{% set current_navi="statistic" %}
{% set local_css_file_list = [ url_for('static',filename='css/style.css') ] %}
{% include 'header.html' %}

<!-- statistic.html -->
    <div class="row">
        <!-- statistic navi -->
        <div class="side_bar col-md-2">
            <ui class="nav nav-pills nav-stacked">
                <li {% if module_current_navi=="overview" %} class="active" {% endif %}>
                    <a href="{{ url_for("statistic") }}">概述</a></li>
                <li {% if module_current_navi=="punchcard" %}  class="active" {% endif %}>
                    <a href="{{ url_for("statistic_punchcard") }}">卡片</a></li>
                <li><a href="#">类型</a></li>
                </li>
            </ui>
        </div>