{# templete index.html
  require:
    user
#}

{% extends "statistic/base.html" %}
{% set module_current_navi="overview" %}
{% set local_js_file_list = [url_for('static',filename='js/statistic.js')] %}

{% block statistic_main_content %}
        <!-- statistic content-->
        <div class="col-md-10 statistic_content">
            <div class="row">
                <form class="form-inline" role="form" id="time_range_form">
                    <div class="col-md-6">
                        <div class="input-daterange input-group date_range_picker">
                            <input type="text" class="form-control" name="start_date" id="start_date"/>
                            <span class="input-group-addon">到</span>
                            <input type="text" class="form-control" name="end_date" id="end_date"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        id="time_range_submit_button">确定</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 pull-right">
                        <div class="form-group">
                            <div class="btn-group" data-toggle="buttons" id="time_interval_group">
                              <label class="btn btn-default active">
                                <input type="radio" name="time_interval" id="time_interval_day" value="day"> 天
                              </label>
                              <label class="btn btn-default">
                                <input type="radio" name="time_interval" id="time_interval_day" value="week"> 周
                              </label>
                              <label class="btn btn-default">
                                <input type="radio" name="time_interval" id="time_interval_month" value="month"> 月
                              </label>
                              <label class="btn btn-default">
                                <input type="radio" name="time_interval" id="time_interval_year" value="year"> 年
                              </label>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="row">
                <div class="col-md-10" id="main_chart_container">

                </div>
            </div>
            <div class="row" id="detail_container">

            </div>
        </div>

{% endblock %}