{# templete statistic/punchcard.html
  require:
    user
#}

{% set module_current_navi = 'punchcard' %}

{% include 'statistic/header.html' %}

        <!-- statistic content-->
        <div class="col-md-10">
            <div class="row">
                <form class="form-inline" role="form" id="time_range_form">
                    <div class="col-md-10 pull-right">
                        <div class="input-daterange input-group date_range_picker">
                            <input type="text" class="form-control" name="start_date" id="start_date"/>
                            <span class="input-group-addon">到</span>
                            <input type="text" class="form-control" name="end_date" id="end_date"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        id="time_range_submit_button">确定</button>
                            </span>
                        </div>
                    </div>
                </form>

            </div>
            <div class="row">
                <div class="col-md-10" id="main_chart_container">

                </div>
            </div>
            <div class="row" id="detail_container">

            </div>
        </div>
    </div>

<!-- statistic.html -->

{% set local_js_file_list=[url_for('static',filename='js/statistic.js'),
    url_for('static',filename='js/bootstrap-datepicker.js'),
    url_for('static',filename='js/highcharts.js')] %}

{% include 'footer.html' %}